<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/loi']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">DATA</a>
  <a [routerLink]="['/fds']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">JOBS</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">USERS</a>
  
</nav>
